{% extends 'wynettedesenyo/base.html' %}
{% load static %}
{% block contents %}
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
				<span class="icon-pencil-square-o mr-1"></span>
				Wynette<br><small>Desenyo</small>
			</a>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Services</a></li>
					
				</ul>
	      </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="home-slider owl-carousel img index-bkg">
		<div class="slider-item sld-bkg">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<span class="subheading">Welcome</span>
						<h1 class="mb-4">We offer printing</h1>
						<p class="mb-4 mb-md-5">Description</p>
						<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now(comming soon)</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
					</div>
				</div>
			</div>
		</div>

      	<div class="slider-item">
      		<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">
					<div class="col-md-6 col-sm-12 ftco-animate">
						<span class="subheading">Design</span>
						<h1 class="mb-4">T-shirt</h1>
						<p class="mb-4 mb-md-5">Description</p>
						<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now(coming soon)</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
					</div>
					<div class="col-md-6 ftco-animate">
						<img src="{% static 'images/logo_m.png' %}" class="img-fluid" alt="">
					</div>
				</div>
       		</div>
      	</div>

      	<div class="slider-item">
      		<div class="overlay"></div>
        	<div class="container">
          		<div class="row slider-text align-items-center" data-scrollax-parent="true">
            		<div class="col-md-6 col-sm-12 order-md-last ftco-animate">
            			<span class="subheading">Design</span>
              			<h1 class="mb-4">Mugs</h1>
						<p class="mb-4 mb-md-5">Description</p>
						<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now(comming soon)</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
					</div>
					<div class="col-md-6 ftco-animate">
						<img src="{% static 'images/logo_m.png' %}" class="img-fluid" alt="">
					</div>
          		</div>
        	</div>
      	</div>
    </section>

    <section class="ftco-intro">
    	<div class="container-wrap">
    		<div class="wrap d-md-flex">
	    		<div class="info">
	    			<div class="row no-gutters">
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-phone"></span></div>
	    					<div class="text">
								<h3>0945-837-5821</h3>
								<h3>0938-243-6329</h3>
	    					</div>
	    				</div>
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-my_location"></span></div>
	    					<div class="text">
	    						<h3>San Miguel, Cordova</h3>
	    						<p>Cebu</p>
	    					</div>
	    				</div>
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-clock-o"></span></div>
	    					<div class="text">
	    						<h3>Daily</h3>
	    						<p>24/7</p>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="social d-md-flex pl-md-5 p-4 align-items-center">
	    			<ul class="social-icon">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/wynette.desenyo"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
	    		</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-about d-md-flex">
    	<div class="one-half img about-bkg"></div>
    	<div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">Welcome to <span class="flaticon">Wynette Desenyo</span> Quality lokal Design</h2>
        </div>
        <div>
  				<p>Innovation in print.</p>
  			</div>
    	</div>
    </section>

    <section class="ftco-section ftco-services">
    	<div class="overlay"></div>
    	<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-10 heading-section ftco-animate text-center">
				<h2 class="mb-4">Our Services and Our Products</h2>
				<p>Printing(Mugs, T-shirt, Key Chains, Caps, Stickers), Logo Design, Bussiness Card, Ref Magnets</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center ftco-animate fadeInUp ftco-animated">
					<div class="menu-wrap">
						<!-- <a href="#" class="menu-img img mb-4" style="background-image: url(images/pizza-1.jpg);"></a> -->
						<img src="{% static '' %}" alt="My image" class="menu-img img mb-4">

						<div class="text">
							<h3><a href="#">image name</a></h3>
							<p>description</p>
							<p class="price"><span>$</span></p>
							<p><a href="#" class="btn btn-white btn-outline-white">View</a></p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Blogs (comming soon)</h2>
            		<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <!-- <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
          		</div>
        	</div>
        	<div class="row">
        	<!-- <div class="col-md-6">
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Italian Pizza</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
        			</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-2.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Hawaiian Pizza</span></h3>
	        				<span class="price">$29.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-3.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Greek Pizza</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-4.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Bacon Crispy Thins</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        	</div>

        	<div class="col-md-6">
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-5.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Hawaiian Special</span></h3>
	        				<span class="price">$49.91</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-6.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Ultimate Overload</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-7.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Bacon Pizza</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/pizza-8.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Ham &amp; Pineapple</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        	</div> -->
        	</div>
    	</div>
    </section>

  

  
		
	<section class="ftco-appointment">
		<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
    			<div class="col-md-6 d-flex align-self-stretch">
    				<div id="map"></div>
    			</div>
	    		<div class="col-md-6 appointment ftco-animate">
	    			<h3 class="mb-3">Contact Us</h3>
	    			<form action="#" class="appointment-form">
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Full name">
		    				</div>
	    				</div>
	    				<div class="d-me-flex">
	    					<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Email">
		    				</div>
						</div>
						<div class="d-me-flex">
	    					<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Subject">
		    				</div>
	    				</div>
	    				<div class="form-group">
	              			<textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
	            		</div>
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-primary py-3 px-4">
						</div>
	    			</form>
	    		</div>    			
    		</div>
    	</div>
    </section>  
{% endblock %}
 